@model IEnumerable<MvcModel.Models.ArticleCommentView>

@{
    ViewBag.Title = "SelectMany4";
}

<h2>SelectMany4</h2>

<ul>
  @foreach (var item in Model)
  {
    <li>@item.Body（@item.Title）</li>
  }
</ul>
